[submodule "workshops/Wk1-01_open_research_and_reproducibility"]
	path = workshops/Wk1-01_open_research_and_reproducibility
	url = https://github.com/dannagifford/Wk1-01_open_research_and_reproducibility
        branch = main
[submodule "workshops/Wk1-02_starting_with_r"]
	path = workshops/Wk1-02_starting_with_r
	url = https://github.com/dannagifford/Wk1-02_starting_with_r
[submodule "workshops/Wk2-03_data_wrangling"]
	path = workshops/Wk2-03_data_wrangling
	url = https://github.com/dannagifford/Wk2-03_data_wrangling
[submodule "workshops/Wk2-04_summarising_your_data"]
	path = workshops/Wk2-04_summarising_your_data
	url = https://github.com/dannagifford/Wk2-04_summarising_your_data
[submodule "workshops/Wk2-06_data_visualisation"]
	path = workshops/Wk2-06_data_visualisation
	url = https://github.com/dannagifford/Wk2-06_data_visualisation
[submodule "workshops/Wk3-09_glm_regression_pt1"]
	path = workshops/Wk3-09_glm_regression_pt1
	url = https://github.com/dannagifford/Wk3-09_glm_regression_pt1
[submodule "workshops/Wk3-10_glm_regression_pt2"]
	path = workshops/Wk3-10_glm_regression_pt2
	url = https://github.com/dannagifford/Wk3-10_glm_regression_pt2
[submodule "workshops/Wk4-11_glm_anova_pt1"]
	path = workshops/Wk4-11_glm_anova_pt1
	url = https://github.com/dannagifford/Wk4-11_glm_anova_pt1
[submodule "workshops/Wk4-12_glm_anova_pt2"]
	path = workshops/Wk4-12_glm_anova_pt2
	url = https://github.com/dannagifford/Wk4-12_glm_anova_pt2
[submodule "workshops/Wk5-15_mixed_models_pt1"]
	path = workshops/Wk5-15_mixed_models_pt1
	url = https://github.com/dannagifford/Wk5-15_mixed_models_pt1
[submodule "workshops/Wk5-16_mixed_models_pt2"]
	path = workshops/Wk5-16_mixed_models_pt2
	url = https://github.com/dannagifford/Wk5-16_mixed_models_pt2
[submodule "workshops/Wk5-19_introduction_to_r_markdown"]
	path = workshops/Wk5-19_introduction_to_r_markdown
	url = https://github.com/dannagifford/Wk5-19_introduction_to_r_markdown
[submodule "workshops/Wk6-13_experimental_power"]
	path = workshops/Wk6-13_experimental_power
	url = https://github.com/dannagifford/Wk6-13_experimental_power
[submodule "workshops/Wk6-24_open_source"]
	path = workshops/Wk6-24_open_source
	url = https://github.com/dannagifford/Wk6-24_open_source
[submodule "workshops/Wk6-open_research_movement"]
	path = workshops/Wk6-open_research_movement
	url = https://github.com/dannagifford/Wk6-open_research_movement
        branch = main
[submodule "workshops/Wk6-ChatGPT"]
	path = workshops/Wk6-ChatGPT
	url = https://github.com/dannagifford/Wk6-ChatGPT
        branch = main
